body{
    font-size: 30px;
    margin-left: 5%;
    margin-right: 10%;
}
.nav{
    border-bottom: 1px solid;
}
.nav span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:oblique;
    font-size: 35px;
}
.nav a{
    float: right;
    margin-left: 20px;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
.nav a:hover{
    text-decoration: none;
    color: rgb(240, 187, 12);
    border-bottom: 2px solid purple;
}
.units h2{
    margin-left: 5%;
}
.units{
    border: 1px solid purple;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5%;
    margin-left: 5%;
}
.units th{
    background-color: rgb(240, 187, 12);
    height: 50px;
    align-items: center;
}
.units tr:hover{
    background-color: rgb(173, 166, 140);
}
.units tr:nth-child(odd){
    background-color: rgb(226, 221, 204);
}
.units a{
    text-decoration: none;
    color: rgb(14, 24, 112);
}
.units a:hover{
    text-decoration: underline;
}