body{
    font-size: 30px;
    margin-left: 5%;
    margin-right: 10%;
}
.nav{
    border-bottom: 1px solid;
}
.nav span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:oblique;
    font-size: 35px;
}
.nav a{
    float: right;
    margin-left: 20px;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
.nav a:hover{
    text-decoration: none;
    color: rgb(240, 187, 12);
    border-bottom: 2px solid purple;
}
.log{
    margin: 5% 35%;
}
.log h2{
    margin-left: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.log .inputscontainer{
    padding: 5%;
    padding-left: 10%;
    border: 2px solid rgb(240, 187, 12);
    border-radius: 20px;
}
.inputscontainer input{
    border:none;
    border-bottom: 2px solid purple;
    font-size: 20px;
    margin-top: 5%;
    border-radius: 10px;
    height: 30px;
    width: 70%;
}
.log .submit{
    background-color: rgb(240, 187, 12);
    height: 40px;
    width: 40%;
    margin-left: 15%;
}
.log a{
    text-decoration: none;
}