body{
    font-size: 30px;
    margin-left: 5%;
    margin-right: 10%;
    background-image: url("student.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 75%;
    background-position: 80% 1%;
}
.nav{
    border-bottom: 1px solid;
}
.nav span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:oblique;
    font-size: 35px;
}
.nav a{
    float: right;
    margin-left: 20px;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
.nav a:hover{
    text-decoration: none;
    color: rgb(240, 187, 12);
    border-bottom: 2px solid purple;
}
.landing{
    margin-top: 5%;
}
.landing h1{
    font-size: 44px;
}
.landing a{
    text-decoration: none;
}
.landing pre{
    margin-top: 5%;
}
.landing #signIn{
    color: black;
    margin-left: 5%;
    font-size: 35px;
    background-color: rgb(240, 187, 12);
    border-radius: 7px;
    padding: 5px;
}
#signIn:hover{
    border: 1px solid black;
}